<div
  class="modal show"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle() }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="hideModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #problemForm="ngForm" (ngSubmit)="onsubmitProblemForm(problemForm)">
        <div class="modal-body">
          <div class="form-group">
            <label htmlFor="title">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              [(ngModel)]="enteredTitle"
              #title="ngModel"
              required=""
            />

            @if(title.invalid && ((title.touched && title.dirty) ||
            problemForm.submitted) ){
            <span class="text-danger">Required!</span>
            }
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="hideModal()"
          >
            Close
          </button>
          <button class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
