<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            @for(pathItem of paths(); track pathItem.path) { @if(pathItem.path)
            {
            <li class="breadcrumb-item">
              <a [routerLink]="[pathItem.path]">{{ pathItem.text }}</a>
            </li>
            } @else {
            <li class="breadcrumb-item">{{ pathItem.text }}</li>
            } }
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
